.footer {

    background-color: $metrics-violet;


    padding: 1em;
    font-size: 10px;
    font-size: 1.0rem;
    color: #D2BCEC;
    a {
        color: #D2BCEC;
    }


    @media (min-width: 600px) {
        font-size: 12px;
        font-size: 1.2rem;
    }
}

