div.card-message
 div.warning
  h3 You are about to delete. Do you want to proceed?
  i.fa.fa-exclamation-triangle.fa-3x

  div.confirm
    div.wrapper
     div#yes.left
      button(type="button") yes

     div#no.right
      button(type="button") no
