div.metric-name

 div.name.editable.show
   span.label metric name
   div
    i.fa.fa-pencil-square-o.fa-lg

  div.edit
  input(placeholder="metric name")
  div.tooltip
    i.fa.fa-check-square.fa-lg

include ../components-scripts-test/component-name.scripts.jade
