ul.accordion.select-mobile
  li
   a.js-accordion-trigger(href="javascript:void(0)") Select Chart type
   ul.submenu
    li#pie
     a(href="javascript:void(0)")
      i.fa.fa-pie-chart
      span pie type
    li#line
     a(href="javascript:void(0)")
      i.fa.fa-line-chart
      span line type
    li#area
     a(href="javascript:void(0)")
      i.fa.fa-area-chart
      span area type
