//- TEST ------------------------------------------
// only for comp demo (not valid for production use)
script.
  (function(){

    document.querySelector('.metric-name .name')
      .addEventListener('click', function(e){

      var _name = e.currentTarget;
      var edit = document.querySelector('.metric-name .edit');

        if (edit.classList){
            _name.classList.toggle ('show');
            edit.classList.toggle ('show');
        }
    });

    document.querySelector('.metric-name .edit .tooltip')
      .addEventListener('click', function(e){

      var edit = document.querySelector('.metric-name .edit');
      var _name = document.querySelector('.metric-name .name');

      if (edit.classList){
          _name.classList.toggle ('show');
          edit.classList.toggle ('show');
      }
    });

    }());
// end
