
// only for comp demo (not valid for production use)
script.
  (function(){

    var accordionTrigger = document.querySelector('.js-accordion-trigger');
    var accordionTriggerSubmenu = document.querySelector('.accordion .submenu');

    accordionTrigger.addEventListener('click', function(e){

        if (accordionTrigger.classList){
              accordionTriggerSubmenu.classList.toggle('show');
          }
          e.preventDefault();
        });

  }());
// end
