// only for comp demo, test interactivity (not valid for production use)
script.
  (function(){

     var msgSuccess = document.querySelector('#msg-success');
     var chartsContainer = document.querySelector('#charts-cont');
     var saveBtn = document.querySelector('.mc-edit #save');
     var charts = ['#pie', '#line', '#area'];
     var chartsClassList = ['show-pie', 'show-line', 'show-area'];

     var toggleMsgSuccess = function (){
       if (msgSuccess.classList){
          msgSuccess.classList.toggle ('hide');
       }
     };

    var removeChartsClassLists = function(){
      chartsClassList.forEach(function(item){
          chartsContainer.classList.remove(item);
      });
    };

    var clickEventListener = function(value) {
      return function (){
        if(chartsContainer.classList){
          msgSuccess.classList.add ('hide');
          removeChartsClassLists();
          chartsContainer.classList.add(value);
        }
      }
     };

     var closeAccordion = function(){
       var accordionTrigger = document.querySelector('.js-accordion-trigger');
        accordionTrigger.click();
     };

     var saveBtnClickListener = function(){

        closeAccordion();
        chartsContainer.classList.toggle('hide');
        toggleMsgSuccess();

        var t = setTimeout(function(){
          toggleMsgSuccess();
          chartsContainer.classList.toggle('hide');
        }, 1000);
     };

     var addChartsListeners = function(){
        charts.forEach(function(item, idx){
          document.querySelector('.mc-edit ' + item)
            .addEventListener('click', clickEventListener(chartsClassList[idx]));
        });
     };

     saveBtn.addEventListener('click', saveBtnClickListener);

     addChartsListeners();
     toggleMsgSuccess();

  }());
