
// only for comp demo (not valid for production use)
script.
  (function(){
    [].slice.call(document.querySelectorAll('.expander-trigger'))
    .forEach(function(elm){
      elm.addEventListener('click', function(){
        var target = this;
        if (target.classList){
          target.classList.toggle('expander-hidden');
        }
      });
    });
  }());
// end
