
// only for comp demo (not valid for production use)
script.
  (function(){

     var modal = document.querySelector('.modal'),
         modalDialog = document.querySelector('.modal-dialog'),
         showModal = document.querySelector('.show-modal'),
         deleteBtn = document.querySelector('#delete-metric'),
         confirmsBtns = document.querySelectorAll('.confirm button'),
         listener = showModal ? showModal : deleteBtn;

         showModalClickListener = function(e) {
            modal.classList.add('show');
            setTimeout(function(){
              modalDialog.classList.add('modal-dialog-transition', 'modal-dialog-transform');
            },10);

            e.preventDefault();
          };


          listener.addEventListener('click', showModalClickListener);

          [].slice.call(confirmsBtns)
            .forEach(function(btn){
                btn.addEventListener('click', function(){
                  modal.classList.remove('show');
                  modalDialog.classList.remove('modal-dialog-transition', 'modal-dialog-transform');
                });
            });
  })();
// end
