extends ./layout/base/base.tpl.jade
block content
 div.landing
  div.grid-items

   div.grid-item
    a(href="./components-layout.html")
     h2 components layout
     i.fa.fa-cog.fa-5x

   div.grid-item
    a(href="./metrics-component.html")
     h2 metric component layout
     i.fa.fa-bar-chart.fa-5x

   div.grid-item
    a(href="./main-layout.html")
     h2 main layout
     i.i.fa.fa-html5.fa-5x

   div.grid-item.grid-item-big
    a(href="https://platform-ui-app.herokuapp.com/")
     h1 Platform UI
     i.fa.fa-cubes.fa-5x

  ul.list-items.repo
    li
      i.fa.fa-github-alt.fa-lg
      a(href="https://github.com/suxxus/exercise-front-end-ui") ui repo

    li
      i.fa.fa-github-alt.fa-lg
      a(href="https://github.com/suxxus/exercise-front-end-app") app repo


  div.especifications
   ul.list-items
    li
      i.fa.fa-mobile.fa-2x
      span responsive layout

    li
     ul.browser-support
      li
       i.fa.fa-chrome.fa-lg
       span chrome

      li
       i.fa.fa-firefox.fa-lg
       span firefox

      li
       i.fa.fa-internet-explorer.fa-lg
       span IE10+

      li
       i.fa.fa-safari.fa-lg
       span safari

      li
       i.fa.fa-opera.fa-lg
       span opera


