mixin htmlcode(source)
  .expander.html-code-container
    a.expander-trigger.expander-hidden(href="javascript:void(0)") HTML source
    .expander-content
     pre.prettyprint.lang-html
      code #{source}

extends ./base/base.tpl.jade
block content
 div.comps-container
  h2 componets

  h4.comp-name comp: logo
  div.comp-wrapper
   include ./components/logo.tpl.jade
   +htmlcode('<h1 class="logo">Fun Metrics</h1>')

  h4.comp-name comp: ajax loader
  div.comp-wrapper
   include ./components/ajax-loader.tpl.jade
   +htmlcode('<div class="ajax-loader"></div>')

  h4.comp-name comp: switch-edit
  div.comp-wrapper
   include ./components/edit.tpl.jade
   .expander.html-code-container
    a.expander-trigger.expander-hidden(href="javascript:void(0)") HTML source
    .expander-content
     pre.prettyprint.lang-html
      code
        | &lt;div class=&quot;edit-toggle&quot;&gt; &lt;span&gt;edit&lt;/span&gt;
        |   &lt;label class=&quot;label-switch&quot;&gt;
        |     &lt;input type=&quot;checkbox&quot;/&gt;
        |     &lt;div class=&quot;checkbox&quot;&gt;&lt;/div&gt;
        |   &lt;/label&gt;
        | &lt;/div&gt;


  h4.comp-name comp: user-logged
  div.comp-wrapper
   include ./components/user-logged.tpl.jade
   .expander.html-code-container
    a.expander-trigger.expander-hidden(href="javascript:void(0)") HTML source
    .expander-content
     pre.prettyprint.lang-html
      code
        | &lt;div class=&quot;user-logged&quot;&gt;
        |   &lt;div class=&quot;pic-user&quot;&gt;&lt;i class=&quot;fa fa-user fa-2x&quot;&gt;&lt;/i&gt;
        |     &lt;div class=&quot;user&quot;&gt;
        |       &lt;p&gt;m.pelayo@mimail.com&lt;/p&gt;
        |     &lt;/div&gt;
        |   &lt;/div&gt;
        | &lt;/div&gt;

  h4.comp-name comp: metrics viewer
  div.comp-wrapper
   include ./components/metrics-viewer.tpl.jade
   .expander.html-code-container
    a.expander-trigger.expander-hidden(href="javascript:void(0)") HTML source
    .expander-content
     pre.prettyprint.lang-html
      code
        | &lt;div class=&quot;grid-items metrics-viewer&quot;&gt;
        |   &lt;div class=&quot;grid-item&quot;&gt;
        |     &lt;div class=&quot;metric-card&quot;&gt;
        |       &lt;div class=&quot;cards&quot;&gt;
        |         &lt;div class=&quot;card&quot;&gt;
        |           &lt;div class=&quot;card-header&quot;&gt;header&lt;/div&gt;
        |           &lt;div class=&quot;card-image&quot;&gt;
        |             &lt;img src=&quot;https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png&quot; alt=&quot;&quot;/&gt;
        |          &lt;/div&gt;
        |       &lt;/div&gt;
        |     &lt;/div&gt;
        |   &lt;/div&gt;
        | &lt;/div&gt;


  h4.comp-name comp: create-new-metric
  div.comp-wrapper
   include ./components/create-new-metric.tpl.jade
   +htmlcode('<div class="tooltip-item new-metric">new metric<div class="tooltip"><p>Click to create new metric</p></div></div>')

  h4.comp-name comp: footer
  div.comp-wrapper
   include ./components/footer.tpl.jade
   +htmlcode('<footer class="footer"><h4>© 2005-2015 Fun Metrics copyright</h4><a href="javascrit:void(0)"> info@metrics.com</a></footer>')

  //- METRIC COMPONENT --//
  h4.comp-name comp: metrics (subcomponents)
  div.comp-wrapper

   h4.comp-name comp: name
   div.comp-wrapper
    include ./components/metric-subcomp/name.tpl.jade
    .expander.html-code-container
      a.expander-trigger.expander-hidden(href="javascript:void(0)") HTML source
      .expander-content
       pre.prettyprint.lang-html
        code
          | &lt;div class=&quot;metric-name&quot;&gt;
          |   &lt;div class=&quot;name editable show&quot;&gt;&lt;span class=&quot;label&quot;&gt;metric name&lt;/span&gt;
          |     &lt;div&gt;&lt;i class=&quot;fa fa-pencil-square-o fa-lg&quot;&gt;&lt;/i&gt;&lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class=&quot;edit&quot;&gt;
          |     &lt;input placeholder=&quot;metric name&quot;/&gt;
          |     &lt;div class=&quot;tooltip&quot;&gt;&lt;i class=&quot;fa fa-check-square fa-lg&quot;&gt;&lt;/i&gt;&lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

   h4.comp-name comp: label
   div.comp-wrapper
    include ./components/metric-subcomp/label.tpl.jade
    +htmlcode('<div class="metric-name"><div class="name show"><span class="label">metric name</span></div></div>')

   h4.comp-name comp: delete-button
   div.comp-wrapper
    include ./components/metric-subcomp/delete-button.tpl.jade
    +htmlcode('<button id="delete-metric" type="button" class="deletemetric"><i class="fa fa-times"></i></button>')

   h4.comp-name comp: actions-btns
   div.comp-wrapper
    include ./components/metric-subcomp/actions-btns.tpl.jade
    .expander.html-code-container
      a.expander-trigger.expander-hidden(href="javascript:void(0)") HTML source
      .expander-content
       pre.prettyprint.lang-html
        code
          | &lt;div class=&quot;metric-actions-btns&quot;&gt;
          |   &lt;div class=&quot;wrapper&quot;&gt;
          |     &lt;div id=&quot;cancel&quot; class=&quot;left&quot;&gt;
          |       &lt;button type=&quot;button&quot;&gt;cancel&lt;/button&gt;
          |     &lt;/div&gt;
          |     &lt;div id=&quot;save&quot; class=&quot;right&quot;&gt;
          |       &lt;button type=&quot;button&quot;&gt;save&lt;/button&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;



   h4.comp-name comp: metric-card
   div.comp-wrapper
    include ./components/metric-subcomp/metric-card.tpl.jade
    +htmlcode('<div class="metric-card"><div class="cards"><div class="card"><div class="card-header">header</div><div class="card-image"></div></div></div></div>')

   h4.comp-name comp: message success
   div.comp-wrapper
    include ./components/metric-subcomp/message-success.tpl.jade
    +htmlcode('<div class="card-message"><div class="success"><h3>Updated</h3><i class="fa fa-check-circle fa-3x"></i></div></div>')

   h4.comp-name comp: select chart
   div.comp-wrapper
    include ./components/metric-subcomp/select-metric-type-mobile.tpl.jade
    .expander.html-code-container
      a.expander-trigger.expander-hidden(href="javascript:void(0)") HTML source
      .expander-content
       pre.prettyprint.lang-html
        code
          | &lt;ul class=&quot;accordion select-mobile&quot;&gt;
          |   &lt;li&gt;&lt;a href=&quot;javascript:void(0)&quot; class=&quot;js-accordion-trigger&quot;&gt;Select Chart type&lt;/a&gt;
          |     &lt;ul class=&quot;submenu&quot;&gt;
          |       &lt;li id=&quot;pie&quot;&gt;&lt;a href=&quot;javascript:void(0)&quot;&gt;&lt;i class=&quot;fa fa-pie-chart&quot;&gt;&lt;/i&gt;&lt;span&gt;pie type&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
          |       &lt;li id=&quot;line&quot;&gt;&lt;a href=&quot;javascript:void(0)&quot;&gt;&lt;i class=&quot;fa fa-line-chart&quot;&gt;&lt;/i&gt;&lt;span&gt;line type&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
          |       &lt;li id=&quot;area&quot;&gt;&lt;a href=&quot;javascript:void(0)&quot;&gt;&lt;i class=&quot;fa fa-area-chart&quot;&gt;&lt;/i&gt;&lt;span&gt;area type&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
          |     &lt;/ul&gt;
          |   &lt;/li&gt;
          | &lt;/ul&gt;

   h4.comp-name comp: info
   div.comp-wrapper
    include ./components/metric-subcomp/info.tpl.jade
    +htmlcode('<ul class="info-metadata"><li>limit x riched</li><li>162 updates</li><li>monthly resolution</li></ul>')

   h4.comp-name comp: modal
   div.comp-wrapper.comp-wrapper
    .metrics-modal-cont
      p Lorem ipsum dolor sit amet.
      include ./components/metric-subcomp/metric-modal.tpl.jade

    a(href="javascript:void(0);" class="modal-behavior show-modal") show modal
    .expander.html-code-container
        a.expander-trigger.expander-hidden(href="javascript:void(0)") HTML source
        .expander-content
         pre.prettyprint.lang-html
          code
            | &lt;div class=&quot;modal&quot;&gt;
            |   &lt;div class=&quot;modal-bkg&quot;&gt;&lt;/div&gt;
            |   &lt;div class=&quot;msgs modal-dialog&quot;&gt;
            |     &lt;div class=&quot;card-message&quot;&gt;
            |       &lt;div class=&quot;warning&quot;&gt;
            |         &lt;h3&gt;You are about to delete. Do you want to proceed?&lt;/h3&gt;&lt;i class=&quot;fa fa-exclamation-triangle fa-3x&quot;&gt;&lt;/i&gt;
            |         &lt;div class=&quot;confirm&quot;&gt;
            |           &lt;div class=&quot;wrapper&quot;&gt;
            |             &lt;div id=&quot;yes&quot; class=&quot;left&quot;&gt;
            |               &lt;button type=&quot;button&quot;&gt;yes&lt;/button&gt;
            |             &lt;/div&gt;
            |             &lt;div id=&quot;no&quot; class=&quot;right&quot;&gt;
            |               &lt;button type=&quot;button&quot;&gt;no&lt;/button&gt;
            |             &lt;/div&gt;
            |           &lt;/div&gt;
            |         &lt;/div&gt;
            |      &lt;/div&gt;
            |     &lt;/div&gt;
            |   &lt;/div&gt;
            | &lt;/div&gt;

 include ./components/components-scripts-test/component-accordion.scripts.jade
 include ./components/components-scripts-test/expander-trigger.scripts.jade
 include ./components/components-scripts-test/metric-modal.scripts.jade

 script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")

block footer
