extends ./base/base.tpl.jade
block content
 div.comps-container
  h2 metric component

 div.comp-wrapper.metrics-component
  include ./components/metrics-component/metric-component.tpl.jade

  include ./components/components-scripts-test/component-metric.scripts.jade

  include ./components/components-scripts-test/component-accordion.scripts.jade

block footer
 .expander.html-code-container
  a.expander-trigger.expander-hidden(href="javascript:void(0)") HTML source
  .expander-content
   pre.prettyprint.lang-html
    code
      | &lt;div class="metric-component"&gt;

      |   &lt;div class=&quot;modal&quot;&gt;
      |     &lt;div class=&quot;modal-bkg&quot;&gt;&lt;/div&gt;
      |     &lt;div class=&quot;msgs modal-dialog&quot;&gt;
      |       &lt;div class=&quot;card-message&quot;&gt;
      |         &lt;div class=&quot;warning&quot;&gt;
      |           &lt;h3&gt;You are about to delete. Do you want to proceed?&lt;/h3&gt;&lt;i class=&quot;fa fa-exclamation-triangle fa-3x&quot;&gt;&lt;/i&gt;
      |           &lt;div class=&quot;confirm&quot;&gt;
      |             &lt;div class=&quot;wrapper&quot;&gt;
      |               &lt;div id=&quot;yes&quot; class=&quot;left&quot;&gt;
      |                 &lt;button type=&quot;button&quot;&gt;yes&lt;/button&gt;
      |               &lt;/div&gt;
      |               &lt;div id=&quot;no&quot; class=&quot;right&quot;&gt;
      |                 &lt;button type=&quot;button&quot;&gt;no&lt;/button&gt;
      |               &lt;/div&gt;
      |             &lt;/div&gt;
      |           &lt;/div&gt;
      |       &lt;/div&gt;
      |       &lt;/div&gt;
      |     &lt;/div&gt;
      |   &lt;/div&gt;


      |   &lt;div class="mc-header"&gt;
      |     &lt;div class=&quot;right show&quot;&gt;
      |       &lt;div class=&quot;metric-name&quot;&gt;
      |         &lt;div class=&quot;name show&quot;&gt;&lt;span class=&quot;label&quot;&gt;metric name&lt;/span&gt;&lt;/div&gt;
      |       &lt;/div&gt;
      |     &lt;/div&gt;
      |     &lt;div class=&quot;left&quot;&gt;
      |       &lt;button id=&quot;delete-metric&quot; type=&quot;button&quot; class=&quot;deletemetric&quot;&gt;&lt;i class=&quot;fa fa-times&quot;&gt;&lt;/i&gt;&lt;/button&gt;
      |     &lt;/div&gt;
      |   &lt;/div&gt;

      |   &lt;div class=&quot;mc-edit&quot;&gt;
      |     &lt;div class=&quot;mobile&quot;&gt;
      |       &lt;ul class=&quot;accordion select-mobile&quot;&gt;
      |         &lt;li&gt;&lt;a href=&quot;javascript:void(0)&quot; class=&quot;js-accordion-trigger&quot;&gt;Select Chart type&lt;/a&gt;
      |           &lt;ul class=&quot;submenu&quot;&gt;
      |             &lt;li id=&quot;pie&quot;&gt;&lt;a href=&quot;javascript:void(0)&quot;&gt;&lt;i class=&quot;fa fa-pie-chart&quot;&gt;&lt;/i&gt;&lt;span&gt;pie type&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
      |             &lt;li id=&quot;line&quot;&gt;&lt;a href=&quot;javascript:void(0)&quot;&gt;&lt;i class=&quot;fa fa-line-chart&quot;&gt;&lt;/i&gt;&lt;span&gt;line type&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
      |             &lt;li id=&quot;area&quot;&gt;&lt;a href=&quot;javascript:void(0)&quot;&gt;&lt;i class=&quot;fa fa-area-chart&quot;&gt;&lt;/i&gt;&lt;span&gt;area type&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
      |           &lt;/ul&gt;
      |         &lt;/li&gt;
      |       &lt;/ul&gt;
      |     &lt;/div&gt;
      |     &lt;div class=&quot;metric-actions-btns&quot;&gt;
      |       &lt;div class=&quot;wrapper&quot;&gt;
      |         &lt;div id=&quot;cancel&quot; class=&quot;left&quot;&gt;
      |           &lt;button type=&quot;button&quot;&gt;cancel&lt;/button&gt;
      |         &lt;/div&gt;
      |         &lt;div id=&quot;save&quot; class=&quot;right&quot;&gt;
      |           &lt;button type=&quot;button&quot;&gt;save&lt;/button&gt;
      |         &lt;/div&gt;
      |       &lt;/div&gt;
      |      &lt;/div&gt;
      |   &lt;/div&gt;

      |   &lt;div class=&quot;mc-chart&quot;&gt;
      |     &lt;div class=&quot;metric-card&quot;&gt;
      |       &lt;div class=&quot;cards&quot;&gt;
      |         &lt;div class=&quot;card&quot;&gt;
      |           &lt;div class=&quot;card-header&quot;&gt;header&lt;/div&gt;
      |           &lt;div class=&quot;card-image&quot;&gt;
      |             &lt;div id=&quot;msg-success&quot; class=&quot;msgs&quot;&gt;
      |               &lt;div class=&quot;card-message&quot;&gt;
      |                 &lt;div class=&quot;success&quot;&gt;
      |                   &lt;h3&gt;Updated&lt;/h3&gt;&lt;i class=&quot;fa fa-check-circle fa-3x&quot;&gt;&lt;/i&gt;
      |                 &lt;/div&gt;
      |               &lt;/div&gt;
      |              &lt;/div&gt;
      |              &lt;ul id=&quot;charts-cont&quot; class=&quot;img-cont show-pie&quot;&gt;
      |               &lt;li class=&quot;pie&quot;&gt;&lt;/li&gt;
      |               &lt;li class=&quot;line&quot;&gt;&lt;/li&gt;
      |               &lt;li class=&quot;area&quot;&gt;&lt;/li&gt;
      |             &lt;/ul&gt;
      |           &lt;/div&gt;
      |         &lt;/div&gt;
      |       &lt;/div&gt;
      |     &lt;/div&gt;
      |    &lt;/div&gt;

      |   &lt;div class=&quot;mc-footer&quot;&gt;
      |     &lt;div class=&quot;metadata&quot;&gt;
      |       &lt;ul class=&quot;info-metadata&quot;&gt;
      |         &lt;li&gt;limit x riched&lt;/li&gt;
      |         &lt;li&gt;162 updates&lt;/li&gt;
      |         &lt;li&gt;monthly resolution&lt;/li&gt;
      |       &lt;/ul&gt;
      |     &lt;/div&gt;
      |    &lt;/div&gt;

      | &lt;/div&gt;

  include ./components/components-scripts-test/expander-trigger.scripts.jade
 script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
